{% if question_list %}
    <ul>
        {% for question in answer_list %}
            <li><a href="/pybo/{{question.question}}/">{{ question.subject }}</a>
                <!-- <li><a href="/pybo/{{question.question}}/">{{ question.content }}</a> -->
            </li>
        {% endfor %}
    </ul>
{% elif answer_list %}
    <ul>
        {% for question in answer_list %}
            <!-- <li><a href="/pybo/{{question.question}}/">{{ question.subject }}</a> -->
                <li><a href="/pybo/{{question.question}}/">{{ question.content }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>질문이 없습니다.</p>
{% endif %}